<!-- Start footer -->
  <footer id="mu-footer" style='margin-top: 50px;'>
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="http://localhost:4000/{{username}}.jpg">
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-3" style='float:left'>
              <a *ngIf="user!=null" routerLink="/promenaLozinke" style='color:white'><i class="fa fa-key fa-2x"></i> Promeni lozinku</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>Address: 1701  Passaic Street, Washington DC</p>
                  <p>Phone: (123) 456-7891 </p>
                  <p>Website: www.mockwebsite.com</p>
                  <p>Email: mock@gmail.com</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by mock</p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->