<div class="mainContainer">
    <div class="container">
        <div class="row">
        <div class='col-md-4'></div>
        <div class="col-md-4">
            <div class="form_main">
                    <h4 class="heading"><strong>Registracija </strong> <span></span></h4>
                    <div class="form">
                    <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                        <input type="text" required="true" placeholder="Unesite vase ime" [(ngModel)]="ime" name="ime" class="txt">
                        <input type="text" required="true" placeholder="Unesite vase prezime" [(ngModel)]="prezime" name="prezime" class="txt">
                        <input type="text" required="true" placeholder="Unesite vase korisnicko ime" [(ngModel)]="korime" name="korime" class="txt">
                        <input type="password" required="true" placeholder="Unesite vasu lozinku" [(ngModel)]="lozinka" name="lozinka" class="txt" >
                        <input type="password" required="true" placeholder="Potvrdite vasu lozinku" [(ngModel)]="potvrda" name="potvrda" class="txt" >
                        <input type="text" required="true" placeholder="Unesite datum rodjenja u obliku dd-MM-yyyy" [(ngModel)]="datum" name="datum" class="txt">
                        <input type="text" required="true" placeholder="Unesite mesto rodjenja" [(ngModel)]="mesto" name="mesto" class="txt">
                        <input type="text" required="true" placeholder="Unesite vas JMBG" [(ngModel)]="jmbg" name="jmbg" class="txt">
                        <input type="text" required="true" placeholder="Unesite vas telefon" [(ngModel)]="telefon" name="telefon" class="txt">
                        <input type="text" required="true" placeholder="Unesite vas e-mail" [(ngModel)]="email" name="email" class="txt">
                         <br/>                         
                    </form>
                    </div>
            </div>
        </div>
        <div class='col-md-4'></div>
        </div>
    </div>
    <div class="content">
        <div class="header" style="text-align: center;">
            <h6>{{slikastatus}}</h6>
        </div>
        <div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-md-1"> </div>
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend text-center">
                        <button (click)="upload()" class="input-group-text upload" id="btnUpload">Upload</button>
                    </div>
                    <div class="custom-file">
                        <form action="/api/upload" method="post" enctype="multipart/form-data">
                            <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" >
                        </form>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
<!--                <img src="http://localhost:4000/duca.jpg">  -->
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>

            </div>
            <div class="col-md-1"> </div>
            <div class='col-md-4 text-center' style='padding-top: 20px;'>
                <re-captcha (resolved)="resolved($event)" siteKey="6LesptMUAAAAAOz5wS-Z3NtmpXQCwX6QHolhP3u8" name='captcha' [(ngModel)]='captcha' #captchaControl="ngModel" required></re-captcha> <br/> 
                <div class='text-center'>
                    <button class='txt2' (click)='registruj()' style='margin-right: 350px;' [disabled]='!captchaControl.valid'>Submit</button>
                </div>       
            </div>
            <div class='col-md-4'>
                <div [hidden]="!captchaControl.valid">Captcha is valid</div>
            </div>
        </div>
    </div>
</div>
